body {
  overflow-x:hidden;
}

.font-bold{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    width: auto;
    font-size:23px;
  }
  .font-navbar{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    width: auto;
    font-size: 24px;
  }
  .fontTimesBold{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
  }
  .font{
    font-family: "Times New Roman", Times, serif;
    width: auto;
    font-size: 18px;
  }
  .shadow {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.8), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    }
  }

  .bookingContainer {
    position: relative;
    max-width: 1121px;
    margin: 0 auto;
    font-size: 10px;
  }
  
  .bookingContainer img {vertical-align: middle;}
  
  .bookingContainer .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  .font-italic{
    font-style: italic;
    font-size: 30px;
  }

  opacity {
    opacity: 0.5;
  }
  @media screen and (min-width: 401px) {
   .font-bold {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 368px) {
    .font-bold {
       font-size: 25px;
     
     }
   }

   @media (max-width: 1000px) {
    .bigScreen {
      display:none;
    }
    .smallScreen {
      display:block;
    }
  }
  
  @media (min-width: 1001px) {
    .bigScreen {
      display:block;
    }
    .smallScreen {
      display:none;
    }
  }

   
   
